*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(47, 88%, 63%);
    font-family:  'Figtree', sans-serif;
}
.card{
    display: grid;
    place-items: center;
}
.container{
    background-color:  white;
    padding: 1.75rem;
    border-radius: 1.5rem;
    max-width: 25em;
    margin: 4rem 0;
    box-shadow: 8px 8px black;
    border: 1px solid black;
    transition: box-shadow 0.3s ease-in-out;
}
.container:hover {
  box-shadow: 12px 12px black;
}
.image{
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}
.tag span{
    background-color: hsl(47, 88%, 63%);
    border-radius: .2rem;
    padding: 5px 12px;
    font-size: 15px;
    font-weight: 800;
}
.tag p{
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: hsl(0, 0%, 7%);
}
h2{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
}
.des{
    color:hsl(0, 0%, 42%) ;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.profile{
    display: flex;
    align-items: center;
}
.profile img{
    margin-right: 1rem;

}
/*footer*/
.attribution {
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
/*mobile design*/
@media (max-width:375px){
    body{
        display: block;
    }
    .card{
        padding: 1rem;
    }
    .container{
        width: 90%;
        margin: 2rem auto ;
        padding: 1.25rem;
    }
    .image {
        width: 100%;
        height: auto;
    }
     h2 {
    font-size: 1.25rem;
  }
  .des {
    font-size: 0.9rem;
  }
}
